@import url('./fonts.css');
.container {
	max-width: 1110px;
	padding: 0 25px;
	margin: 0px auto;
}
.header {
	padding: 20px 0;
}
.header-content{
    display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu {
	&__items {
		display: flex;
		column-gap: 120px;
	}
	&__link {
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		text-transform: uppercase;
		transition: 0.7s;
		color: #626262;
        font-family: PlayfairRegular;
		position: relative;
		&:before {
			content: '';
			bottom: 0;
			width: 0;
			transition: 0.7s;
			position: absolute;
			border-bottom: 1px solid black;
		}
		&:hover {
			color: black;
			&:before {
				width: 100%;
			}
		}
	}
}
.swiper-slide {
	width: 100%;
	&__banner {
		width: 100%;
		object-fit: cover;
		max-height: 520px;
	}
}
.swiper-button-prev, .swiper-button-next  {
	&::after {
		color: black;
		font-size: 17px;
	}
}
.weekend {
	padding: 100px 5px 0;
	max-width: 905px;
	margin: 0px auto;
	&__subtitle {
		font-family: "UbuntuLightr";
		font-size: 14px;
		line-height: 1.2;
		font-weight: 300;
		text-transform: uppercase;
		color: #b4ad9e;
		margin-bottom: 25px;
	}
	&__title {
		font-family: "PlayfairRegular";
		font-size: 30px;
		line-height: 1.2;
		font-weight: 400;
		color: #626262;
		margin-bottom: 35px;
	}
	&__txt {
		font-family: "PlayfairRegular";
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		color: #626262;
		margin-bottom: 45px;
        b{
            color: black;
        }
	}
	&__desc {
        font-family: "UbuntuLightr";
		font-family: Ubuntu;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 300;
		text-transform: uppercase;
		color: #b4ad9e;
	}
}
.colum {
	max-width: 905px;
	margin: 0px auto;
	padding: 120px 0;
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 136px;
		column-gap: 72px;
	}
	&__btn {
		max-width: 160px;
		margin: 0 auto;
		margin-top: 110px;
		position: relative;
		padding: 16px 35px;
		background: none;
		border: 1px solid #626262;
		display: block;
		border-radius: 4px;
		overflow: hidden;
        font-family: "PlayfairRegular";
        font-weight: 400;
		span {
			position: relative;
			transition: 0.7s;
			font-family: 'Playfair Display';
			font-size: 20px;
			line-height: 24px;
			font-weight: 400;
			color: #626262;
		}
		&::before {
			content: '';
			right: 1000px;
			top: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: black;
			transition: 0.7s;
		}
		&:hover {
			&::before {
				right: 0;
			}
			span {
				color: #f0f0f0;
			}
		}
	}
}
.colum-item {
	max-width: 419px;
    margin: 0 auto;
	&__img {
		width: 100%;
		min-height: 280px;
		object-fit: cover;
		margin-bottom: 35px;
	}
	&__subtitle {
		font-family: "UbuntuLightr";
		font-size: 14px;
		line-height: 1.2;
		font-weight: 300;
		text-transform: uppercase;
		color: #b4ad9e;
		margin-bottom: 25px;
	}
	&__name {
		margin-bottom: 25px;
		font-family: "PlayfairRegular";
		font-size: 30px;
		line-height: 1.2;
		font-weight: 400;
		color: #626262;
	}
	&__text {
		font-family: "PlayfairRegular";
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		color: #626262;
	}
}
.form {
	padding: 70px 0;
	min-width: 100%;
	background-color: #f0f0f0;
	&__title {
		text-align: center;
		max-width: 500px;
		margin: 0px auto;
		font-size: 30px;
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: 0.025em;
		color: #333333;
        font-family: "PlayfairRegular";
	}
}
.label {
	text-align: center;
	max-width: 400px;
	margin: 0px auto;
	position: relative;
	margin-top: 70px;
	&__input {
		width: 100%;
		padding: 10px 5px;
		background: none;
		border-bottom: 1px solid black;
		&::placeholder {
			transition: 0.7s;
			font-family: "PlayfairRegular";
			font-size: 14px;
			line-height: 24px;
			font-weight: 400;
			color: #626262;
		}
		&:focus {
			&::placeholder {
				transform: translateY(-400px);
			}
		}
	}
	&__btn {
		position: absolute;
		right: 0;
		background: none;
		top: 50%;
		transform: translateY(-50%);
		&__icon {
			object-fit: cover;
		}
		&:hover {
			transform: translateY(-50%) translateX(10px);
		}
	}
}
.footer {
	padding: 35px 0;
	background-color: #f0f0f0;
	&__content {
		margin: 0px auto;
		max-width: 982px;
		display: flex;
		justify-content: space-between;
	}
	&__items {
		display: flex;
		column-gap: 15px;
		align-items: center;
	}
	&__link {
		font-family: "PlayfairRegular";
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		color: #000000;
		position: relative;
		padding-bottom: 7px;
		&:before {
			content: '';
			bottom: 0;
			width: 0;
			transition: 0.7s;
			position: absolute;
			border-bottom: 1px solid black;
		}
		&:hover {
			color: black;
			&:before {
				width: 100%;
			}
		}
	}
}
.social {
	display: flex;
    &_margin{
        margin-left: auto;
    }
	&__link {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		transition: 0.7s;
		&:hover {
			border: 1px solid #626262;
		}
	}
}
.photo{
    display: flex;
    flex-direction: column;
    max-width: 905px;
    margin: 0 auto;
    row-gap: 30px;
    padding: 0 5px;
    &__img{
        width: 100%;
        object-fit: cover;
    }
    &__text{
        color: #626262;
        font-size: 14px;
        line-height: 1.6;
        b{
            color: #000000;
        }
    }
}
.blockquote{
    max-width: 850px;
    margin: 0 auto;
    margin: 50px 0 50px;
    color: #626262;
    font-size: 14px;
    line-height: 1.6;
}
.header-scroll{
    position: fixed;
    z-index: 18;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px black;
    width: 100%;
}
.also-like{
    margin-top: 40px ;
    padding: 50px 15px;
    background-color: #f0f0f0;
    &__name{
        font-size: 17px;
        line-height: 1.5;
        color: #b4ad9e;
        text-transform: uppercase;
        font-family: "PlayfairRegular";
        font-weight: 400;
        margin-bottom: 40px;
    }
    &__content{
        max-width: 910px;
        margin: 0px auto;
    }
    &__colums{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 20px;
    }
}
.like-colum{
    max-width: 250px;
    margin: 0px auto;
    &__photo{
        max-width: 250px;
        object-fit: cover;
    }
    &__name{
        font-size: 14px;
        line-height: 1.3;
        color: #626262;
        margin-top: 20px;
        font-weight: 500;
        font-family: "PlayfairRegular";
    }
}
.rewiereviews{
    padding: 40px 15px;
    max-width: 910px;
    margin: 0 auto;
    &__sum{
        text-transform: uppercase;
        color: #b4ad9e;
        margin-bottom: 20px;
        font-style: 15px;
        line-height: 1.3;
    }
    &__items{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
}
.rewiereviews-item{
    display: flex;
    column-gap: 20px;
    &__img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
    &__name{
        font-weight: 500;
        line-height: 1.1;
        font-size: 16px;
        color: #626262;
        font-weight: 400;
        margin-bottom: 10px;
    }
    &__desc{
        line-height: 1.6;
        font-size: 14px;
        color: #b4ad9e;
        font-weight: 400;
    }
    &__btn{
        margin-top: 20px;
        color: #b4ad9e;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 1.2;
        background: none;
    }
    &__input{
        border: 1px solid #b4ad9e;
        display: block;
        width: 100%;
        height: 70px;
        border-radius: 4px;
        padding:0 5px 0px 40px ;
        &::placeholder{
            font-size: 15px;
            color: #b4ad9e;
            line-height: 1.3;
            text-transform: uppercase;
            transition: 0.7s;
        }
        &:focus{
            &::placeholder{
                transform: translateY(-200px);
            }
        }
    }
}
.scroll{
    display: flex;
    max-width: 1100px;
    margin: 0px auto;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 5px;
    column-gap: 30px;
    position: relative;
    &__content{
        max-width: 600px;
    }
}
.weekend_padding{
    padding-top: 0;
}
.abaut-me{
    max-width: 270px;
    position: sticky;
    height: 100%;
    top: 70px;
    &__title{
        font-size: 17px;
        line-height: 1.3;
        color: #626262;
        margin-top: 20px ;
    }
    &__text{
        font-size: 13px;
        line-height: 1.2;
        color: #b4ad9e;
        margin: 20px 0;
    }
    &__img{
        object-fit: cover;
        max-width: 270px;
    }
    &__banner{
        max-width: 250px;
        max-height: 250px;
        object-fit: cover;
        margin-top: 70px;
    }
}
.abaut-list{
    margin-top: 40px;
    &__title{
        text-transform: uppercase;
        font-size: 15px;
        line-height: 1.3;
        color: #b4ad9e;
        margin-bottom: 30px;
    }
    &__items{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    &__item{
        padding-left: 40px;
        position: relative;
        &::before{
            content:'';
            position: absolute;
            border-radius: 50%;
            left: 0;
            width: 7px;
            height: 7px;
            background-color: #626262;
        }
    }
    &__name{
        color:#626262;
        font-size: 15px;
        line-height: 1.2;
        margin-bottom: 12px;
    }
    &__desc{
        font-size: 13px;
        line-height: 1.2;
        color: #b4ad9e;
    }
}
.fixed-top{
    position: fixed;
    top: 60px;
    right:0;
}